{% include 'blog/base.html' %}

{% block content %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-12"> <br><br><br><br><br><br>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body text-center">
                                <i class="card-title fa fa-newspaper-o fa-5x" aria-hidden="true"></i> <br><br>
                                <a href="{% url 'blog-home' %}" class="btn btn-primary">Blog</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body text-center">
                                <i class="card-title fa fa-cutlery fa-5x" aria-hidden="true"></i> <br><br>
                                <a href="{% url 'home-menu' %}" class="btn btn-primary">Menu</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}